body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.subscribe-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14.4px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
}

.calculate-button {
  background-color: green;
  color: white;
  border: none;
  padding: 12px 15px;
  font-size: 15px;
  cursor: pointer;
}

.price-input {
  padding: 10px;
  font-size: 15px;
}
.is-subscribed {
  background-color: silver;
}
